In [ ]:
#pip install -r requirements.txt

In [1]:
import logging
import cvxpy as cvx
import numpy as np
import pickle
import pandas as pd

In [2]:
from doppelganger import (
    allocation,
    inputs,
    Configuration,
    HouseholdAllocator,
    PumsData,
    SegmentedData,
    BayesianNetworkModel,
    Population,
    Preprocessor,
    Marginals
)

In [3]:
from doppelganger.listbalancer import balance_multi_cvx, discretize_multi_weights

In [4]:
# deSerialization
with open('controls.pkl', 'rb') as file:
    controls = pickle.load(file)
with open('households_data.pkl', 'rb') as file:
    households_data = pickle.load(file)
with open('persons_data.pkl', 'rb') as file:
    persons_data = pickle.load(file)

In [5]:
controls.data

,Unnamed: 0,STATEFP,COUNTYFP,PUMA5CE,TRACTCE,num_people_count,num_people_1,num_people_3,num_people_2,num_people_4+,num_vehicles_1,num_vehicles_0,num_vehicles_2,num_vehicles_3+,age_0-17,age_18-34,age_65+,age_35-64
0,0,06,001,00106,430101,2217,305,356,648,908,270,45,1057,2076,1756,1161,671,3383
1,1,06,001,00106,430102,863,158,174,407,124,127,8,450,398,354,210,553,1022
2,2,06,001,00106,430200,2417,397,580,936,504,211,16,1380,1466,1310,911,1114,3324
3,3,06,001,00106,430300,1239,222,194,466,357,118,59,548,906,845,492,672,1597
4,4,06,001,00106,430400,752,136,150,294,172,181,6,308,661,311,331,416,997
5,5,06,001,00106,430500,2027,473,389,614,551,443,81,1283,873,1458,1264,582,2889
6,6,06,001,00106,430600,2145,496,477,699,473,425,0,1010,1421,988,1120,876,2755
7,7,06,001,00106,430700,1291,165,265,470,391,128,0,760,934,911,830,523,1649
8,8,06,001,00106,430800,2116,367,328,793,628,522,128,1335,909,1406,1377,896,2412
9,9,06,001,00106,430900,1822,499,356,589,378,724,40,893,467,1449,1186,587,1799
10,10,06,001,00106,431000,1138,269,286,355,228,435,32,696,183,663,684,330,1263
11,11,06,001,00106,431100,1342,434,169,510,229,312,71,1019,368,692,1201,324,1047
12,12,06,001,00106,431200,2504,1049,455,687,313,703,87,984,943,1031,1153,966,2370
13,13,06,001,00106,433700,998,322,112,121,443,282,6,722,613,986,892,210,1264
14,14,06,001,00106,433800,2498,662,634,366,836,763,177,1072,1318,2018,2045,877,3197
15,15,06,001,00106,433900,2365,547,314,465,1039,856,211,1104,676,2707,2122,289,2443
16,16,06,001,00106,434000,1758,525,339,239,655,396,73,887,740,1779,1297,404,2039
17,17,06,001,00106,435200,1404,246,368,420,370,210,50,858,1064,857,1022,661,1913
18,18,06,001,00106,435300,1586,498,342,481,265,562,60,875,567,826,1129,511,1767
19,19,06,001,00106,435500,1362,487,189,375,311,338,75,668,467,762,914,444,1424
20,20,06,001,00106,435601,1591,273,280,392,646,351,51,1235,759,1884,1521,305,1901
21,21,06,001,00106,435602,1546,431,250,336,529,538,118,762,742,1306,1195,505,2454
22,22,06,001,00106,435700,1399,219,243,374,563,208,52,784,959,1017,1091,821,1820
23,23,06,001,00106,435800,1587,262,330,414,581,335,0,892,1331,1144,1257,611,2383
24,24,06,001,00106,435900,1588,185,267,531,605,154,0,709,1511,1165,1220,832,2173
25,25,06,001,00106,436000,1381,256,283,390,452,246,0,775,977,933,1061,772,1532
26,26,06,001,00106,436100,1810,400,315,328,767,528,82,1041,1187,1427,1356,818,2630
27,27,06,001,00106,436200,1222,347,172,221,482,327,44,732,403,1211,1027,435,1358
28,28,06,001,00106,436402,977,112,300,362,203,87,0,413,855,510,565,634,1163

In [6]:
households_data.data

,puma,household_weight,state,num_people,household_income,num_vehicles,serial_number
0,00106,100,06,1,<=40000,0,1000481
1,00106,112,06,4+,40000+,3+,1002740
2,00106,78,06,3,40000+,2,1004323
3,00106,53,06,4+,40000+,3+,1006982
4,00106,63,06,2,40000+,2,1010099
5,00106,42,06,2,40000+,2,1011294
6,00106,255,06,0,<=40000,0,1011919
7,00106,72,06,4+,<=40000,2,1012613
8,00106,128,06,3,40000+,3+,1015561
9,00106,76,06,2,40000+,2,1016255
10,00106,70,06,2,40000+,2,1017051
11,00106,66,06,2,40000+,2,1019082
12,00106,188,06,1,<=40000,0,1019611
13,00106,121,06,2,40000+,2,1021805
14,00106,125,06,4+,40000+,3+,1022501
15,00106,60,06,2,<=40000,2,1022581
16,00106,70,06,3,40000+,3+,1023053
17,00106,0,06,1,<=40000,0,1023149
18,00106,408,06,1,<=40000,2,1023432
19,00106,47,06,4+,40000+,2,1026172
20,00106,209,06,4+,40000+,2,102947
21,00106,135,06,1,<=40000,1,1032964
22,00106,62,06,1,<=40000,2,1035885
23,00106,53,06,4+,40000+,2,1036137
24,00106,98,06,4+,40000+,2,1037116
25,00106,82,06,1,<=40000,0,1038049
26,00106,112,06,2,40000+,3+,1039604
27,00106,192,06,2,40000+,2,1039952
28,00106,48,06,3,40000+,3+,1042929
29,00106,35,06,2,40000+,3+,1043190
...,...,...,...,...,...,...,...
1002,00106,59,06,3,40000+,2,962638
1003,00106,75,06,2,<=40000,2,962934
1004,00106,0,06,1,<=40000,0,963107
1005,00106,67,06,4+,40000+,3+,966969
1006,00106,69,06,4+,40000+,3+,967592
1007,00106,65,06,2,40000+,2,968573
1008,00106,69,06,4+,40000+,2,969673
1009,00106,0,06,1,<=40000,0,970767
1010,00106,110,06,3,<=40000,0,971158
1011,00106,113,06,2,40000+,1,971297
1012,00106,60,06,1,<=40000,1,975167
1013,00106,41,06,4+,40000+,1,980956
1014,00106,107,06,2,40000+,2,983488
1015,00106,57,06,3,40000+,2,984734
1016,00106,66,06,2,<=40000,2,984933
1017,00106,59,06,4+,40000+,3+,986303
1018,00106,109,06,2,<=40000,1,98747
1019,00106,97,06,1,<=40000,1,988929
1020,00106,48,06,1,<=40000,1,989586
1021,00106,139,06,3,<=40000,1,989785
1022,00106,99,06,3,40000+,2,990378
1023,00106,113,06,3,40000+,2,990638
1024,00106,48,06,1,<=40000,2,990668
1025,00106,0,06,1,<=40000,0,992829
1026,00106,96,06,1,<=40000,1,993056
1027,00106,110,06,2,40000+,2,997659
1028,00106,87,06,4+,40000+,2,99855
1029,00106,53,06,4+,40000+,3+,999031
1030,00106,205,06,4+,40000+,2,999093
1031,00106,106,06,2,40000+,3+,999443

In [7]:
persons_data.data

       puma    age state individual_income sex  person_weight  serial_number
0     00106    65+    06               <=0   M            100        1000481
1     00106  18-34    06       20000-40000   M            122        1002740
2     00106  18-34    06           0-20000   M            122        1002740
3     00106    65+    06       20000-40000   F            107        1002740
4     00106    65+    06       40000-80000   M            113        1002740
5     00106  18-34    06               <=0   M             76        1004323
6     00106  35-64    06       40000-80000   F             78        1004323
7     00106  35-64    06       20000-40000   M             68        1004323
8     00106    65+    06               <=0   M             53        1006982
9     00106   0-17    06               <=0   M             76        1006982
10    00106   0-17    06               <=0   M             78        1006982
11    00106  18-34    06               <=0   F             89        1006982
12    00106  18-34    06           0-20000   M             73        1006982
13    00106  35-64    06      80000-100000   M             63        1010099
14    00106  35-64    06       40000-80000   F             62        1010099
15    00106  35-64    06      80000-100000   M             43        1011294
16    00106  35-64    06       20000-40000   F             38        1011294
17    00106  18-34    06               <=0   F             72        1012613
18    00106  18-34    06           0-20000   M             75        1012613
19    00106   0-17    06               <=0   F             73        1012613
20    00106   0-17    06               <=0   M             67        1012613
21    00106  18-34    06       40000-80000   F            168        1015561
22    00106  35-64    06      80000-100000   M            129        1015561
23    00106   0-17    06               <=0   M            159        1015561
24    00106    65+    06               <=0   M             80        1016255
25    00106    65+    06               <=0   F             75        1016255
26    00106  35-64    06               <=0   F             88        1017051
27    00106  35-64    06       40000-80000   M             71        1017051
28    00106    65+    06               <=0   M             58        1019082
29    00106    65+    06               <=0   F             66        1019082
...     ...    ...   ...               ...  ..            ...            ...
2357  00106  35-64    06               <=0   M            176         989785
2358  00106    65+    06           0-20000   F            139         989785
2359  00106    65+    06               <=0   M            131         989785
2360  00106  35-64    06               <=0   F             98         990378
2361  00106   0-17    06               <=0   F            116         990378
2362  00106  35-64    06       40000-80000   M            116         990378
2363  00106  18-34    06       40000-80000   F            128         990638
2364  00106    65+    06       40000-80000   F            103         990638
2365  00106    65+    06               <=0   M            113         990638
2366  00106    65+    06               <=0   F             49         990668
2367  00106    65+    06               <=0   M             13         992829
2368  00106  35-64    06       20000-40000   F             96         993056
2369  00106  35-64    06       20000-40000   M            139         997659
2370  00106    65+    06               <=0   F            110         997659
2371  00106  35-64    06           100000+   M             90          99855
2372  00106  35-64    06               <=0   F             87          99855
2373  00106   0-17    06               <=0   M             84          99855
2374  00106   0-17    06               <=0   M             84          99855
2375  00106  18-34    06       20000-40000   F             54         999031
2376  00106   0-17    06               <=0   M             46         999031
2377  00106  35-64    06           0-20000   F             53         999031
2378  00106  35-64    06               <=0   M             45         999031
2379  00106   0-17    06               <=0   M             44         999031
2380  00106   0-17    06               <=0   M            206         999093
2381  00106  35-64    06       20000-40000   M            209         999093
2382  00106   0-17    06               <=0   F            270         999093
2383  00106  35-64    06               <=0   F            318         999093
2384  00106  35-64    06           0-20000   F            205         999093
2385  00106  35-64    06               <=0   F            106         999443
2386  00106   0-17    06               <=0   M            104         999443

[2387 rows x 7 columns]

In [8]:
households, persons = HouseholdAllocator.from_cleaned_data0(controls, households_data, persons_data)

In [9]:
households

,serial_number,num_people,num_vehicles,household_weight,num_people_0,num_people_1,num_people_2,num_people_3,num_people_4+,num_vehicles_0,num_vehicles_1,num_vehicles_2,num_vehicles_3+,age_35-64,age_18-34,age_65+,age_0-17
618,4431,2,2,60,0,0,1,0,0,0,0,1,0,0,0,1,1
698,5379,1,0,0,0,1,0,0,0,1,0,0,0,0,0,1,0
219,12930,1,1,142,0,1,0,0,0,0,1,0,0,0,0,1,0
237,13176,3,2,200,0,0,0,1,0,0,0,1,0,1,0,2,0
393,17489,2,1,37,0,0,1,0,0,0,1,0,0,1,0,1,0
395,17679,1,1,39,0,1,0,0,0,0,1,0,0,0,0,0,1
398,17921,1,0,113,0,1,0,0,0,1,0,0,0,0,0,1,0
415,20249,4+,3+,79,0,0,0,0,1,0,0,0,1,1,1,2,0
419,21217,1,0,0,0,1,0,0,0,1,0,0,0,0,0,1,0
420,21307,2,2,63,0,0,1,0,0,0,0,1,0,0,0,0,2
421,21355,2,2,172,0,0,1,0,0,0,0,1,0,1,0,1,0
468,27462,1,1,64,0,1,0,0,0,0,1,0,0,0,0,0,1
469,27675,4+,2,81,0,0,0,0,1,0,0,1,0,2,0,2,0
471,28055,1,1,62,0,1,0,0,0,0,1,0,0,0,0,0,1
475,28508,4+,2,40,0,0,0,0,1,0,0,1,0,2,0,3,0
482,28809,2,2,47,0,0,1,0,0,0,0,1,0,0,2,0,0
493,30055,3,1,93,0,0,0,1,0,0,1,0,0,1,1,1,0
497,30519,2,3+,109,0,0,1,0,0,0,0,0,1,0,0,2,0
501,30944,3,3+,65,0,0,0,1,0,0,0,0,1,0,0,1,2
504,31133,1,1,64,0,1,0,0,0,0,1,0,0,0,0,1,0
514,32379,2,3+,102,0,0,1,0,0,0,0,0,1,0,0,2,0
524,33215,3,3+,180,0,0,0,1,0,0,0,0,1,0,1,2,0
546,35583,1,1,101,0,1,0,0,0,0,1,0,0,0,0,1,0
554,36856,1,1,79,0,1,0,0,0,0,1,0,0,0,1,0,0
567,38307,1,0,0,0,1,0,0,0,1,0,0,0,0,0,1,0
568,38347,3,1,86,0,0,0,1,0,0,1,0,0,0,3,0,0
573,39506,1,1,74,0,1,0,0,0,0,1,0,0,0,1,0,0
584,40434,2,3+,58,0,0,1,0,0,0,0,0,1,0,0,2,0
605,42697,4+,1,227,0,0,0,0,1,0,1,0,0,3,0,1,0
607,42848,1,1,76,0,1,0,0,0,0,1,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
336,1460790,2,1,93,0,0,1,0,0,0,1,0,0,1,0,1,0
337,1461055,1,1,115,0,1,0,0,0,0,1,0,0,0,0,1,0
338,1468223,4+,3+,102,0,0,0,0,1,0,0,0,1,1,2,1,1
339,1468328,1,0,0,0,1,0,0,0,1,0,0,0,0,0,0,1
340,1469114,1,0,80,0,1,0,0,0,1,0,0,0,0,0,0,1
341,1470217,3,1,71,0,0,0,1,0,0,1,0,0,1,0,2,0
342,1470996,2,2,102,0,0,1,0,0,0,0,1,0,0,0,1,1
343,1471079,1,0,0,0,1,0,0,0,1,0,0,0,0,0,0,1
344,1471404,4+,3+,95,0,0,0,0,1,0,0,0,1,0,1,2,1
345,1472552,1,1,37,0,1,0,0,0,0,1,0,0,0,0,0,1
346,1472671,4+,2,69,0,0,0,0,1,0,0,1,0,2,0,2,0
347,1473461,1,0,0,0,1,0,0,0,1,0,0,0,0,0,1,0
348,1477085,2,2,83,0,0,1,0,0,0,0,1,0,0,0,2,0
349,1479566,1,1,106,0,1,0,0,0,0,1,0,0,0,0,0,1
351,1480723,4+,2,231,0,0,0,0,1,0,0,1,0,3,0,2,1
352,1481414,2,2,54,0,0,1,0,0,0,0,1,0,0,0,0,2
353,1486574,2,2,97,0,0,1,0,0,0,0,1,0,0,0,0,2
354,1486928,1,1,66,0,1,0,0,0,0,1,0,0,0,0,1,0
355,1489103,2,1,65,0,0,1,0,0,0,1,0,0,0,0,2,0
356,1489603,1,2,142,0,1,0,0,0,0,0,1,0,0,0,1,0
357,1494372,3,3+,106,0,0,0,1,0,0,0,0,1,0,1,2,0
358,1498853,1,1,385,0,1,0,0,0,0,1,0,0,0,1,0,0
359,1499453,3,2,168,0,0,0,1,0,0,0,1,0,1,1,1,0
360,1499485,1,0,0,0,1,0,0,0,1,0,0,0,0,0,1,0
362,1499869,1,1,121,0,1,0,0,0,0,1,0,0,0,0,1,0
363,1500319,4+,3+,157,0,0,0,0,1,0,0,0,1,0,2,3,0
364,1502527,4+,2,61,0,0,0,0,1,0,0,1,0,2,1,2,0
367,1507304,1,1,137,0,1,0,0,0,0,1,0,0,0,0,1,0
368,1508584,4+,0,54,0,0,0,0,1,1,0,0,0,3,2,0,0
370,1512401,1,1,230,0,1,0,0,0,0,1,0,0,0,0,1,0

In [10]:
persons

      serial_number sex    age
0           1000481   M    65+
1           1002740   M  18-34
2           1002740   M  18-34
3           1002740   F    65+
4           1002740   M    65+
5           1004323   M  18-34
6           1004323   F  35-64
7           1004323   M  35-64
8           1006982   M    65+
9           1006982   M   0-17
10          1006982   M   0-17
11          1006982   F  18-34
12          1006982   M  18-34
13          1010099   M  35-64
14          1010099   F  35-64
15          1011294   M  35-64
16          1011294   F  35-64
17          1012613   F  18-34
18          1012613   M  18-34
19          1012613   F   0-17
20          1012613   M   0-17
21          1015561   F  18-34
22          1015561   M  35-64
23          1015561   M   0-17
24          1016255   M    65+
25          1016255   F    65+
26          1017051   F  35-64
27          1017051   M  35-64
28          1019082   M    65+
29          1019082   F    65+
...             ...  ..    ...
2357         989785   M  35-64
2358         989785   F    65+
2359         989785   M    65+
2360         990378   F  35-64
2361         990378   F   0-17
2362         990378   M  35-64
2363         990638   F  18-34
2364         990638   F    65+
2365         990638   M    65+
2366         990668   F    65+
2367         992829   M    65+
2368         993056   F  35-64
2369         997659   M  35-64
2370         997659   F    65+
2371          99855   M  35-64
2372          99855   F  35-64
2373          99855   M   0-17
2374          99855   M   0-17
2375         999031   F  18-34
2376         999031   M   0-17
2377         999031   F  35-64
2378         999031   M  35-64
2379         999031   M   0-17
2380         999093   M   0-17
2381         999093   M  35-64
2382         999093   F   0-17
2383         999093   F  35-64
2384         999093   F  35-64
2385         999443   F  35-64
2386         999443   M   0-17

[2387 rows x 3 columns]

In [11]:
# Only take nonzero weights
households = households[households[inputs.HOUSEHOLD_WEIGHT.name] > 0]
households

,serial_number,num_people,num_vehicles,household_weight,num_people_0,num_people_1,num_people_2,num_people_3,num_people_4+,num_vehicles_0,num_vehicles_1,num_vehicles_2,num_vehicles_3+,age_35-64,age_18-34,age_65+,age_0-17
618,4431,2,2,60,0,0,1,0,0,0,0,1,0,0,0,1,1
219,12930,1,1,142,0,1,0,0,0,0,1,0,0,0,0,1,0
237,13176,3,2,200,0,0,0,1,0,0,0,1,0,1,0,2,0
393,17489,2,1,37,0,0,1,0,0,0,1,0,0,1,0,1,0
395,17679,1,1,39,0,1,0,0,0,0,1,0,0,0,0,0,1
398,17921,1,0,113,0,1,0,0,0,1,0,0,0,0,0,1,0
415,20249,4+,3+,79,0,0,0,0,1,0,0,0,1,1,1,2,0
420,21307,2,2,63,0,0,1,0,0,0,0,1,0,0,0,0,2
421,21355,2,2,172,0,0,1,0,0,0,0,1,0,1,0,1,0
468,27462,1,1,64,0,1,0,0,0,0,1,0,0,0,0,0,1
469,27675,4+,2,81,0,0,0,0,1,0,0,1,0,2,0,2,0
471,28055,1,1,62,0,1,0,0,0,0,1,0,0,0,0,0,1
475,28508,4+,2,40,0,0,0,0,1,0,0,1,0,2,0,3,0
482,28809,2,2,47,0,0,1,0,0,0,0,1,0,0,2,0,0
493,30055,3,1,93,0,0,0,1,0,0,1,0,0,1,1,1,0
497,30519,2,3+,109,0,0,1,0,0,0,0,0,1,0,0,2,0
501,30944,3,3+,65,0,0,0,1,0,0,0,0,1,0,0,1,2
504,31133,1,1,64,0,1,0,0,0,0,1,0,0,0,0,1,0
514,32379,2,3+,102,0,0,1,0,0,0,0,0,1,0,0,2,0
524,33215,3,3+,180,0,0,0,1,0,0,0,0,1,0,1,2,0
546,35583,1,1,101,0,1,0,0,0,0,1,0,0,0,0,1,0
554,36856,1,1,79,0,1,0,0,0,0,1,0,0,0,1,0,0
568,38347,3,1,86,0,0,0,1,0,0,1,0,0,0,3,0,0
573,39506,1,1,74,0,1,0,0,0,0,1,0,0,0,1,0,0
584,40434,2,3+,58,0,0,1,0,0,0,0,0,1,0,0,2,0
605,42697,4+,1,227,0,0,0,0,1,0,1,0,0,3,0,1,0
607,42848,1,1,76,0,1,0,0,0,0,1,0,0,0,0,1,0
628,45653,2,2,145,0,0,1,0,0,0,0,1,0,0,0,2,0
635,46779,2,2,46,0,0,1,0,0,0,0,1,0,0,2,0,0
639,47329,4+,2,117,0,0,0,0,1,0,0,1,0,4,0,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
329,1450401,4+,2,114,0,0,0,0,1,0,0,1,0,2,0,2,0
331,1452055,2,3+,64,0,0,1,0,0,0,0,0,1,0,1,1,0
332,1454027,4+,1,184,0,0,0,0,1,0,1,0,0,3,1,0,0
334,1455568,1,0,67,0,1,0,0,0,1,0,0,0,0,0,1,0
336,1460790,2,1,93,0,0,1,0,0,0,1,0,0,1,0,1,0
337,1461055,1,1,115,0,1,0,0,0,0,1,0,0,0,0,1,0
338,1468223,4+,3+,102,0,0,0,0,1,0,0,0,1,1,2,1,1
340,1469114,1,0,80,0,1,0,0,0,1,0,0,0,0,0,0,1
341,1470217,3,1,71,0,0,0,1,0,0,1,0,0,1,0,2,0
342,1470996,2,2,102,0,0,1,0,0,0,0,1,0,0,0,1,1
344,1471404,4+,3+,95,0,0,0,0,1,0,0,0,1,0,1,2,1
345,1472552,1,1,37,0,1,0,0,0,0,1,0,0,0,0,0,1
346,1472671,4+,2,69,0,0,0,0,1,0,0,1,0,2,0,2,0
348,1477085,2,2,83,0,0,1,0,0,0,0,1,0,0,0,2,0
349,1479566,1,1,106,0,1,0,0,0,0,1,0,0,0,0,0,1
351,1480723,4+,2,231,0,0,0,0,1,0,0,1,0,3,0,2,1
352,1481414,2,2,54,0,0,1,0,0,0,0,1,0,0,0,0,2
353,1486574,2,2,97,0,0,1,0,0,0,0,1,0,0,0,0,2
354,1486928,1,1,66,0,1,0,0,0,0,1,0,0,0,0,1,0
355,1489103,2,1,65,0,0,1,0,0,0,1,0,0,0,0,2,0
356,1489603,1,2,142,0,1,0,0,0,0,0,1,0,0,0,1,0
357,1494372,3,3+,106,0,0,0,1,0,0,0,0,1,0,1,2,0
358,1498853,1,1,385,0,1,0,0,0,0,1,0,0,0,1,0,0
359,1499453,3,2,168,0,0,0,1,0,0,0,1,0,1,1,1,0
362,1499869,1,1,121,0,1,0,0,0,0,1,0,0,0,0,1,0
363,1500319,4+,3+,157,0,0,0,0,1,0,0,0,1,0,2,3,0
364,1502527,4+,2,61,0,0,0,0,1,0,0,1,0,2,1,2,0
367,1507304,1,1,137,0,1,0,0,0,0,1,0,0,0,0,1,0
368,1508584,4+,0,54,0,0,0,0,1,1,0,0,0,3,2,0,0
370,1512401,1,1,230,0,1,0,0,0,0,1,0,0,0,0,1,0

In [12]:
households[inputs.HOUSEHOLD_WEIGHT.name]

618     60
219    142
237    200
393     37
395     39
398    113
415     79
420     63
421    172
468     64
469     81
471     62
475     40
482     47
493     93
497    109
501     65
504     64
514    102
524    180
546    101
554     79
568     86
573     74
584     58
605    227
607     76
628    145
635     46
639    117
      ...
329    114
331     64
332    184
334     67
336     93
337    115
338    102
340     80
341     71
342    102
344     95
345     37
346     69
348     83
349    106
351    231
352     54
353     97
354     66
355     65
356    142
357    106
358    385
359    168
362    121
363    157
364     61
367    137
368     54
370    230
Name: household_weight, Length: 917, dtype: int64

In [13]:
households[inputs.HOUSEHOLD_WEIGHT.name].as_matrix()

G:\Anaconda\envs\dop2\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  """Entry point for launching an IPython kernel.

array([ 60, 142, 200,  37,  39, 113,  79,  63, 172,  64,  81,  62,  40,
        47,  93, 109,  65,  64, 102, 180, 101,  79,  86,  74,  58, 227,
        76, 145,  46, 117,  70, 208,  34, 101,  42,  51, 103, 174,  44,
        63,  64,  71,  70,  84,  55,  83,  58,  39,  49,  51,  70, 170,
        72,  75,  77,  49, 109,  87, 209,  67, 207, 223,  92,  94, 102,
        60, 139, 118,  55, 138, 118, 108, 193,  56, 154,  56,  37,  82,
       102, 160,  63, 177,  59,  67,  68,  60, 138,  87,  95,  37, 243,
        93,  66,  63,  94, 181,  58, 102, 101,  59,  52,  90, 334,  59,
        61, 182,  71,  41,  97,  42, 105,  66,  94, 131,  52, 336,  53,
        67, 228,  55,  53,  61,  45,  66,  84,  70, 186,  68, 128, 207,
        84, 168,  75,  86,  74,  74,  64, 125,  60, 121, 128,  71,  65,
        35,  78,  46, 167, 101, 113,  65,  50, 129,  48, 132,  79, 130,
        71,  34,  91,  63, 116,  76, 123,  85,  80, 325, 160,  42,  55,
        53,  69,  79, 166,  76,  41, 109,  67, 233,  53, 125, 117, 218,
       114,  87,  61, 107,  52,  35,  56, 171,  58,  89, 140, 103,  90,
       146,  65, 193,  92,  70,  69,  74,  61, 105,  75,  71,  60,  43,
        68,  71,  62,  72,  90, 136, 102,  78,  59,  76,  81,  64, 105,
       145, 165,  90,  43, 189,  58,  87,  39, 138,  62,  89,  70,  42,
        68,  56,  57, 245,  58, 111, 104,  97,  37,  56, 190, 121, 185,
       107, 146, 185,  53, 117,  93,  98,  65, 123, 499, 120, 223,  69,
        88,  72,  33,  56, 276,  68, 117,  88, 190, 128, 127,  72,  74,
        60, 133, 115,  60, 176, 226,  60,  97,  85,  65, 100,  53, 130,
        53, 101,  42,  63,  70, 338,  85, 112,  72,  72,  67,  64,  78,
        51,  91,  66, 105, 212, 133,  76,  64,  51, 187,  87,  84,  67,
        55, 177, 113, 223,  64, 233, 145,  72,  61,  91,  68,  29,  93,
        64,  63, 315,  65, 134, 108,  68, 201,  61,  57, 101,  64,  57,
        83,  69,  76,  54,  80,  82,  60,  50, 181, 105, 233, 104, 113,
        77,  62,  71, 182,  64,  92, 103, 114, 108,  87,  70,  78, 195,
       196,  66,  39,  60,  90, 217, 118, 114,  94,  75, 112,  68,  67,
       183, 361,  73,  68,  65, 113, 228,  67,  82,  90,  33,  57,  64,
       116,  91,  49,  74,  97,  64, 116, 144,  86, 115,  39,  67,  80,
       106,  51,  42, 156,  60,  83,  75, 309,  96,  60,  87,  32, 153,
       113, 160, 105, 261,  58,  95,  81, 170,  56, 174, 420, 138, 132,
       105, 190,  55,  83,  74,  96,  68, 100, 117,  56,  62,  65,  52,
       139,  55,  77, 112, 213,  70,  79,  35,  69, 102,  56,  34,  42,
        65,  72,  43, 182, 125, 118,  53, 114,  69, 100, 105,  68,  48,
       166, 180,  56,  75, 202,  59, 102,  74,  76, 189,  82,  60, 296,
        61,  78,  98,  50, 106, 314,  66,  65,  59, 350, 109,  73,  65,
       104,  71,  31, 146,  48, 256,  66,  77, 139, 298, 118,  46,  83,
       203,  61, 211, 262,  83,  90,  80,  72,  65,  65,  64, 309, 141,
        62, 172,  62,  55,  66, 101,  51,  38,  49,  60, 148,  63,  73,
        67, 107, 110,  34,  39,  77, 138,  64,  64,  88,  54,  35, 141,
       122, 118,  50, 265,  66, 113,  64,  91,  48, 334,  50, 189,  68,
        89, 119,  41,  68, 102, 105,  46,  90, 101,  80, 210,  72, 182,
        37,  59,  29,  56,  68, 193,  82, 224, 249,  87, 137, 292,  60,
        78,  78,  62,  62,  71,  82, 319,  59,  75,  67,  69,  65,  69,
       110, 113,  60,  41, 107,  57,  66,  59,  97,  48, 139,  99, 113,
        48,  96, 110,  53, 205, 106, 100, 112,  78,  53,  63,  42,  72,
       128,  76,  70,  66, 188, 121, 125,  60,  70, 408,  47, 135,  62,
        53,  98,  82, 112, 192,  48,  35,  70,  89, 190,  34, 142,  93,
        47,  75, 116,  37,  72,  70, 141,  49,  64,  72,  62, 145,  94,
        56,  73, 166, 200, 189,  71,  55, 111,  65,  65,  86,  72, 126,
       178, 107, 108,  77,  83, 193,  70, 210, 286,  37,  60, 107,  93,
        73,  54,  56, 319,  98,  65,  65,  62, 109,  65,  58, 154, 117,
        74,  97, 117,  60,  37,  83, 225,  72, 156, 140,  71, 149,  70,
       187, 122,  75, 327,  62,  53, 279, 120, 102,  98,  64, 263, 412,
        59,  54,  54,  63, 332,  52,  37, 361,  67, 207,  67,  54,  59,
       136,  41, 204, 103,  56,  88, 144,  44,  77,  22,  62,  63,  83,
       106,  53,  58, 187,  66,  55, 134,  74, 103,  59,  94,  54, 110,
        88, 137,  63, 323, 149,  54, 254, 111,  99,  45,  60, 108,  58,
        44,  68,  46,  65,  59,  49,  40, 103,  62, 104,  65, 228,  51,
        70,  77,  30,  84,  42,  96,  57,  77, 256,  60,  98,  55, 135,
       113, 185,  71,  69,  52,  70,  74,  50,  57,  63, 176, 212, 117,
       177,  45, 114, 125, 114,  92,  78, 175,  36, 193,  73, 106,  71,
        78,  63, 205, 184,  83, 109,  58, 217,  84,  48,  89,  49,  52,
        50,  62, 134,  64,  82,  95,  63,  43,  77,  79,  51,  58,  76,
        58,  94,  80,  82, 119,  45,  51,  43,  70, 330,  94,  86,  63,
        88, 106,  80,  63,  97, 173, 203, 105,  40,  52,  39,  62, 100,
       127,  78,  76, 114,  64, 184,  67,  93, 115, 102,  80,  71, 102,
        95,  37,  69,  83, 106, 231,  54,  97,  66,  65, 142, 106, 385,
       168, 121, 157,  61, 137,  54, 230], dtype=int64)

In [14]:
hw_df = pd.DataFrame(households[inputs.HOUSEHOLD_WEIGHT.name])
hw_df.as_matrix().shape

G:\Anaconda\envs\dop2\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.

(917, 1)

In [ ]:
hw_df.as_matrix().T.shape

In [ ]:

a = [1,2,3,4,5,6,7]
ps = pd.Series(a)
a_np = ps.to_numpy()
print(a_np.shape)
a_np

In [ ]:
a_np.T
print(a_np.T.shape)

In [233]:
# Initial weights from PUMS
w = households[inputs.HOUSEHOLD_WEIGHT.name].as_matrix().T######################may not be right, use to_numpy() and transpose instead maybe
print(w.shape)
w

(917,)

G:\Anaconda\envs\dop2\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.

array([ 60, 142, 200,  37,  39, 113,  79,  63, 172,  64,  81,  62,  40,
        47,  93, 109,  65,  64, 102, 180, 101,  79,  86,  74,  58, 227,
        76, 145,  46, 117,  70, 208,  34, 101,  42,  51, 103, 174,  44,
        63,  64,  71,  70,  84,  55,  83,  58,  39,  49,  51,  70, 170,
        72,  75,  77,  49, 109,  87, 209,  67, 207, 223,  92,  94, 102,
        60, 139, 118,  55, 138, 118, 108, 193,  56, 154,  56,  37,  82,
       102, 160,  63, 177,  59,  67,  68,  60, 138,  87,  95,  37, 243,
        93,  66,  63,  94, 181,  58, 102, 101,  59,  52,  90, 334,  59,
        61, 182,  71,  41,  97,  42, 105,  66,  94, 131,  52, 336,  53,
        67, 228,  55,  53,  61,  45,  66,  84,  70, 186,  68, 128, 207,
        84, 168,  75,  86,  74,  74,  64, 125,  60, 121, 128,  71,  65,
        35,  78,  46, 167, 101, 113,  65,  50, 129,  48, 132,  79, 130,
        71,  34,  91,  63, 116,  76, 123,  85,  80, 325, 160,  42,  55,
        53,  69,  79, 166,  76,  41, 109,  67, 233,  53, 125, 117, 218,
       114,  87,  61, 107,  52,  35,  56, 171,  58,  89, 140, 103,  90,
       146,  65, 193,  92,  70,  69,  74,  61, 105,  75,  71,  60,  43,
        68,  71,  62,  72,  90, 136, 102,  78,  59,  76,  81,  64, 105,
       145, 165,  90,  43, 189,  58,  87,  39, 138,  62,  89,  70,  42,
        68,  56,  57, 245,  58, 111, 104,  97,  37,  56, 190, 121, 185,
       107, 146, 185,  53, 117,  93,  98,  65, 123, 499, 120, 223,  69,
        88,  72,  33,  56, 276,  68, 117,  88, 190, 128, 127,  72,  74,
        60, 133, 115,  60, 176, 226,  60,  97,  85,  65, 100,  53, 130,
        53, 101,  42,  63,  70, 338,  85, 112,  72,  72,  67,  64,  78,
        51,  91,  66, 105, 212, 133,  76,  64,  51, 187,  87,  84,  67,
        55, 177, 113, 223,  64, 233, 145,  72,  61,  91,  68,  29,  93,
        64,  63, 315,  65, 134, 108,  68, 201,  61,  57, 101,  64,  57,
        83,  69,  76,  54,  80,  82,  60,  50, 181, 105, 233, 104, 113,
        77,  62,  71, 182,  64,  92, 103, 114, 108,  87,  70,  78, 195,
       196,  66,  39,  60,  90, 217, 118, 114,  94,  75, 112,  68,  67,
       183, 361,  73,  68,  65, 113, 228,  67,  82,  90,  33,  57,  64,
       116,  91,  49,  74,  97,  64, 116, 144,  86, 115,  39,  67,  80,
       106,  51,  42, 156,  60,  83,  75, 309,  96,  60,  87,  32, 153,
       113, 160, 105, 261,  58,  95,  81, 170,  56, 174, 420, 138, 132,
       105, 190,  55,  83,  74,  96,  68, 100, 117,  56,  62,  65,  52,
       139,  55,  77, 112, 213,  70,  79,  35,  69, 102,  56,  34,  42,
        65,  72,  43, 182, 125, 118,  53, 114,  69, 100, 105,  68,  48,
       166, 180,  56,  75, 202,  59, 102,  74,  76, 189,  82,  60, 296,
        61,  78,  98,  50, 106, 314,  66,  65,  59, 350, 109,  73,  65,
       104,  71,  31, 146,  48, 256,  66,  77, 139, 298, 118,  46,  83,
       203,  61, 211, 262,  83,  90,  80,  72,  65,  65,  64, 309, 141,
        62, 172,  62,  55,  66, 101,  51,  38,  49,  60, 148,  63,  73,
        67, 107, 110,  34,  39,  77, 138,  64,  64,  88,  54,  35, 141,
       122, 118,  50, 265,  66, 113,  64,  91,  48, 334,  50, 189,  68,
        89, 119,  41,  68, 102, 105,  46,  90, 101,  80, 210,  72, 182,
        37,  59,  29,  56,  68, 193,  82, 224, 249,  87, 137, 292,  60,
        78,  78,  62,  62,  71,  82, 319,  59,  75,  67,  69,  65,  69,
       110, 113,  60,  41, 107,  57,  66,  59,  97,  48, 139,  99, 113,
        48,  96, 110,  53, 205, 106, 100, 112,  78,  53,  63,  42,  72,
       128,  76,  70,  66, 188, 121, 125,  60,  70, 408,  47, 135,  62,
        53,  98,  82, 112, 192,  48,  35,  70,  89, 190,  34, 142,  93,
        47,  75, 116,  37,  72,  70, 141,  49,  64,  72,  62, 145,  94,
        56,  73, 166, 200, 189,  71,  55, 111,  65,  65,  86,  72, 126,
       178, 107, 108,  77,  83, 193,  70, 210, 286,  37,  60, 107,  93,
        73,  54,  56, 319,  98,  65,  65,  62, 109,  65,  58, 154, 117,
        74,  97, 117,  60,  37,  83, 225,  72, 156, 140,  71, 149,  70,
       187, 122,  75, 327,  62,  53, 279, 120, 102,  98,  64, 263, 412,
        59,  54,  54,  63, 332,  52,  37, 361,  67, 207,  67,  54,  59,
       136,  41, 204, 103,  56,  88, 144,  44,  77,  22,  62,  63,  83,
       106,  53,  58, 187,  66,  55, 134,  74, 103,  59,  94,  54, 110,
        88, 137,  63, 323, 149,  54, 254, 111,  99,  45,  60, 108,  58,
        44,  68,  46,  65,  59,  49,  40, 103,  62, 104,  65, 228,  51,
        70,  77,  30,  84,  42,  96,  57,  77, 256,  60,  98,  55, 135,
       113, 185,  71,  69,  52,  70,  74,  50,  57,  63, 176, 212, 117,
       177,  45, 114, 125, 114,  92,  78, 175,  36, 193,  73, 106,  71,
        78,  63, 205, 184,  83, 109,  58, 217,  84,  48,  89,  49,  52,
        50,  62, 134,  64,  82,  95,  63,  43,  77,  79,  51,  58,  76,
        58,  94,  80,  82, 119,  45,  51,  43,  70, 330,  94,  86,  63,
        88, 106,  80,  63,  97, 173, 203, 105,  40,  52,  39,  62, 100,
       127,  78,  76, 114,  64, 184,  67,  93, 115, 102,  80,  71, 102,
        95,  37,  69,  83, 106, 231,  54,  97,  66,  65, 142, 106, 385,
       168, 121, 157,  61, 137,  54, 230], dtype=int64)

In [234]:
# w = pd.DataFrame(households[inputs.HOUSEHOLD_WEIGHT.name]).as_matrix().T
# print(w.shape)
# w

In [235]:
allocation_inputs = [inputs.NUM_PEOPLE, inputs.NUM_VEHICLES] 
allocation_inputs

[<doppelganger.inputs.DataType at 0x20c7a49a198>,
 <doppelganger.inputs.DataType at 0x20c7a49a160>]

In [236]:
# Prepend column name to bin name to prevent bin collision
hh_columns = []
for a_input in allocation_inputs:
    subset_values = households[a_input.name].unique().tolist()
    hh_columns += HouseholdAllocator._str_broadcast(a_input.name, subset_values)
hh_columns

['num_people_2',
 'num_people_1',
 'num_people_3',
 'num_people_4+',
 'num_vehicles_2',
 'num_vehicles_1',
 'num_vehicles_0',
 'num_vehicles_3+']

In [237]:
hh_columns = HouseholdAllocator._filter_sparse_columns(households, hh_columns)
hh_columns

['num_people_2',
 'num_people_1',
 'num_people_3',
 'num_people_4+',
 'num_vehicles_2',
 'num_vehicles_1',
 'num_vehicles_3+']

In [238]:
hh_table = households[hh_columns].as_matrix()
print(hh_table.shape)
hh_table

(917, 7)

G:\Anaconda\envs\dop2\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  """Entry point for launching an IPython kernel.

array([[1, 0, 0, ..., 1, 0, 0],
       [0, 1, 0, ..., 0, 1, 0],
       [0, 0, 1, ..., 1, 0, 0],
       ...,
       [0, 1, 0, ..., 0, 1, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 1, 0, ..., 0, 1, 0]], dtype=uint8)

In [239]:
# hh_table = households[hh_columns].to_numpy()
# print(hh_table.shape)
# hh_table

In [240]:
A = controls.data[hh_columns].as_matrix()
n_tracts, n_controls = A.shape
print(A.shape)
n_samples = len(households.index.values)
n_samples

(29, 7)

G:\Anaconda\envs\dop2\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  """Entry point for launching an IPython kernel.

917

In [241]:
mu = np.mat([1] * n_controls)
mu

matrix([[1, 1, 1, 1, 1, 1, 1]])

In [242]:
w_extend = np.tile(w, (n_tracts, 1))
print("w_extend: " + str(w_extend.shape))
mu_extend = np.mat(np.tile(mu, (n_tracts, 1)))
print("mu_extend: " + str(mu_extend.shape))
B = np.mat(np.dot(np.ones((1, n_tracts)), A)[0])
print("B: " + str(B.shape))

w_extend: (29, 917)
mu_extend: (29, 7)
B: (1, 7)

In [243]:
gamma = 100.
meta_gamma = 100.

In [244]:
w = w_extend
mu = gamma * mu_extend.T

In [245]:
n_samples, n_controls = hh_table.shape

# Solver won't converge with zero marginals. Identify and remove.
zero_marginals = np.where(~A.any(axis=1))[0]
zero_weights = np.zeros((1, n_samples))

if zero_marginals.size:
    logging.info(
        '%i tract(s) with zero marginals encountered. '
        'Setting weights to zero'.format(zero_marginals.size)
    )

    # Need to remove problem tracts and add a row of zeros later
    A = np.delete(A, zero_marginals, axis=0)
    w = np.delete(w, zero_marginals, axis=0)
    mu = np.delete(mu, zero_marginals, axis=1)

n_tracts = w.shape[0]
print(n_tracts)

29

In [246]:
x = cvx.Variable(shape=(n_tracts, n_samples))
print(x.shape)

(29, 917)

In [247]:
# Relative weights of tracts
# (need to reshape for numpy broadcasting)
wa = (np.sum(A, axis=1) / np.sum(A)).reshape(-1, 1)
w_relative = (np.array(w) * np.array(wa))

# With relaxation factors
z = cvx.Variable(shape=(n_controls, n_tracts))
q = cvx.Variable(shape=(n_controls,1))
identity = np.ones((n_tracts, 1))

In [248]:
solved = False
meta_mu=1000.
verbose_solver=False

In [249]:
while not solved:
    objective = cvx.Maximize(
        cvx.sum(cvx.entr(x) + cvx.multiply(cvx.log(np.e * w_relative), x)) +
        cvx.sum(cvx.multiply(mu, cvx.entr(z) + cvx.multiply(cvx.log(np.e), z))) +
        cvx.sum(cvx.multiply(meta_mu, cvx.entr(q) + cvx.multiply(cvx.log(np.e), q)))
    )
    

    # Update constraints
    constraints = [
        x >= 0,
        z >= 0,
        q >= 0,
#         x @ hh_table == A @ z.T,
#         (A.T @ z) * identity == B.T @ q
        x @ hh_table == cvx.multiply(A, z.T),
        cvx.multiply(A.T, z) * identity == cvx.multiply(B.T, q)
    ]

    # Define the problem
    prob = cvx.Problem(objective, constraints)

    # Solve the problem with updated exception handling
    try:
        prob.solve(verbose=verbose_solver)
        solved = True

    except cvx.SolverError:
        if np.all(mu == 1):
            # We can't reduce mu any further
            break
        mu = np.where(mu > 10, mu - 10, 1)
        logging.info('Solver error encountered. Importance weights have been relaxed.')

G:\Anaconda\envs\dop2\lib\site-packages\cvxpy\expressions\expression.py:593: UserWarning:
This use of ``*`` has resulted in matrix multiplication.
Using ``*`` for matrix multiplication has been deprecated since CVXPY 1.1.
    Use ``*`` for matrix-scalar and vector-scalar multiplication.
    Use ``@`` for matrix-matrix and matrix-vector multiplication.
    Use ``multiply`` for elementwise multiplication.
This code path has been hit 17 times so far.

  warnings.warn(msg, UserWarning)

In [250]:
if not np.any(x.value):
    logging.exception('Solution infeasible. Using initial weights.')

# If we didn't get a value return the initial weights
weights_out = x.value if np.any(x.value) else w_relative

# Insert zeros
if zero_marginals.size:
    # Due to numpy insert behavior, we need to differentiate between the
    # values that go into the middle of the array, and the values that get appended
    weights_out = _insert_append(weights_out, zero_marginals, zero_weights, axis=0)

In [251]:
weights_out

array([[2.61331992, 3.39133066, 7.93541969, ..., 3.27191761, 2.67272812,
        5.4930004 ],
       [0.9490626 , 1.05030074, 2.70686072, ..., 1.01331832, 0.54771681,
        1.70119132],
       [2.78535504, 3.13737673, 9.06945498, ..., 3.02690572, 2.34457854,
        5.08166656],
       ...,
       [1.78227581, 4.17835474, 6.53235319, ..., 4.03122957, 2.1635986 ,
        6.7677578 ],
       [1.01587747, 2.53654392, 3.47789199, ..., 2.44722899, 1.27557768,
        4.10848662],
       [1.06356355, 0.72423102, 3.68209371, ..., 0.69872993, 0.87486444,
        1.17305024]])

In [252]:
weights_out.shape

(29, 917)

In [ ]:
def balance_multi_cvx(hh_table, A, B, w, mu=1000., meta_mu=1000., verbose_solver=False):
    """Maximum Entropy allocation method for multiple balanced units

    Args:
        hh_table (numpy matrix): Table of households categorical data
        A (numpy matrix): Area marginals (controls)
        B (numpy matrix): Meta-marginals
        w (numpy array): Initial household allocation weights
        mu (float): Importance weights of marginals for accuracy of fit
        meta_mu (float): Importance weights of meta-marginals for accuracy of fit
        verbose_solver (boolean): Provide detailed solver info

    Returns:
        (numpy matrix, numpy matrix, numpy matrix): Household weights,
            relaxation factors, relaxation factors,
    """

    n_samples, n_controls = hh_table.shape

    # Solver won't converge with zero marginals. Identify and remove.
    zero_marginals = np.where(~A.any(axis=1))[0]
    zero_weights = np.zeros((1, n_samples))

    if zero_marginals.size:
        logging.info(
            '%i tract(s) with zero marginals encountered. '
            'Setting weights to zero'.format(zero_marginals.size)
        )

        # Need to remove problem tracts and add a row of zeros later
        A = np.delete(A, zero_marginals, axis=0)
        w = np.delete(w, zero_marginals, axis=0)
        mu = np.delete(mu, zero_marginals, axis=1)

    n_tracts = w.shape[0]
    x = cvx.Variable(n_tracts, n_samples)

    # Relative weights of tracts
    # (need to reshape for numpy broadcasting)
    wa = (np.sum(A, axis=1) / np.sum(A)).reshape(-1, 1)
    w_relative = (np.array(w) * np.array(wa))

    # With relaxation factors
    z = cvx.Variable(n_controls, n_tracts)
    q = cvx.Variable(n_controls)

    identity = np.ones((n_tracts, 1))

    solved = False
    while not solved:
        objective = cvx.Maximize(
            cvx.sum_entries(cvx.entr(x) + cvx.mul_elemwise(cvx.log(np.e * w_relative), x)) +
            cvx.sum_entries(cvx.mul_elemwise(mu, cvx.entr(z) + cvx.mul_elemwise(cvx.log(np.e), z))) +
            cvx.sum_entries(cvx.mul_elemwise(meta_mu, cvx.entr(q) + cvx.mul_elemwise(cvx.log(np.e), q)))
        )

        constraints = [
            x >= 0,
            z >= 0,
            q >= 0,
            x * hh_table == cvx.mul_elemwise(A, z.T),
            cvx.mul_elemwise(A.T, z) * identity == cvx.mul_elemwise(B.T, q)
        ]

        prob = cvx.Problem(objective, constraints)

        try:
            prob.solve(verbose=verbose_solver)
            solved = True

        except cvx.SolverError:
            if np.all(mu == 1):
                # We can't reduce mu any further
                break
            mu = np.where(mu > 10, mu - 10, 1)
            logging.info('Solver error encountered. Importance weights have been relaxed.')

    if not np.any(x.value):
        logging.exception('Solution infeasible. Using initial weights.')

    # If we didn't get a value return the initial weights
    weights_out = x.value if np.any(x.value) else w_relative

    # Insert zeros
    if zero_marginals.size:
        # Due to numpy insert behavior, we need to differentiate between the
        # values that go into the middle of the array, and the values that get appended
        weights_out = _insert_append(
            weights_out, zero_marginals, zero_weights, axis=0)

    return weights_out

In [ ]:
# Household table (hh_table): Each column represents a type of household,
# and each row represents an area.
hh_table = np.array([
    [1, 0, 0],
    [0, 1, 0],
    [0, 0, 1]
])

# Area marginals (A): Controls for the number of each type of household in each area.
A = np.array([
    [50],  # Area 1 wants 50 of type 1 households
    [40],  # Area 2 wants 40 of type 2 households
    [30]   # Area 3 wants 30 of type 3 households
])

# Meta-marginals (B): Additional constraints across areas.
B = np.array([
    [60],  # Sum of types 1 and 2 households across all areas
    [40],  # Sum of types 2 and 3 households across all areas
    [120]  # Total households across all types and areas
])

# Initial weights (w): Start with equal weights for all households in all areas.
w = np.array([1, 1, 1])

# Importance weights for accuracy of fit (mu for A and meta_mu for B)
mu = 1000.
meta_mu = 1000.

# Verbose solver output for debugging
verbose_solver = True

# Call the function with the specified data
weights_out = balance_multi_cvx(hh_table, A, B, w, mu, meta_mu, verbose_solver)

# Print the output weights
print("Optimized Household Weights:")
print(weights_out)