In [ ]:
#pip install -r requirements.txt

# Doppelganger! (Simple)
Welcome to the simplified Doppelganger example. If you have not already done so, please see the [README document](https://github.com/sidewalklabs/doppelganger/blob/master/README.md) for installation instructions and information on what Doppelganger is doing under the hood. For a more thorough walkthrough, take a look at [doppelganger_example_full](./doppelganger_example_full.ipynb).

# Getting Started
Doppelganger lets you configure which census fields you use, the relationships among these fields (network structure), and the data preprocessing. We'll begin by loading the necessary packages, and then load a simple configuration file.

In [19]:
import pandas as pd
import pickle

from doppelganger import (
    allocation,
    inputs,
    Configuration,
    HouseholdAllocator,
    PumsData,
    SegmentedData,
    BayesianNetworkModel,
    Population,
    Preprocessor,
    Marginals
)

configuration = Configuration.from_file('sample_data/config.json')

# Loading and Cleaning Data
The following loads our data and cleans it according to the configuration. Reusing the same preprocessor ensures all data is cleaned consistently. We'll use California's PUMA `00106` for our demonstration.

In [23]:
PUMA = '00106'

preprocessor = Preprocessor.from_config(configuration.preprocessing_config)

# Take pums fields from the config and from the default fields needed for
# the household allocation process.
household_fields = tuple(set(
    field.name for field in allocation.DEFAULT_HOUSEHOLD_FIELDS).union(
        set(configuration.household_fields)
))

households_data = PumsData.from_csv('sample_data/households_00106_dirty.csv').clean(
    household_fields, preprocessor, puma=PUMA
)

persons_fields = tuple(set(
    field.name for field in allocation.DEFAULT_PERSON_FIELDS).union(
        set(configuration.person_fields)
))
persons_data = PumsData.from_csv('sample_data/persons_00106_dirty.csv').clean(
    persons_fields, preprocessor, puma=PUMA
)

In [24]:
households_data.data

,puma,household_weight,serial_number,num_vehicles,state,household_income,num_people
0,00106,100,1000481,0,06,<=40000,1
1,00106,112,1002740,3+,06,40000+,4+
2,00106,78,1004323,2,06,40000+,3
3,00106,53,1006982,3+,06,40000+,4+
4,00106,63,1010099,2,06,40000+,2
5,00106,42,1011294,2,06,40000+,2
6,00106,255,1011919,0,06,<=40000,0
7,00106,72,1012613,2,06,<=40000,4+
8,00106,128,1015561,3+,06,40000+,3
9,00106,76,1016255,2,06,40000+,2
10,00106,70,1017051,2,06,40000+,2
11,00106,66,1019082,2,06,40000+,2
12,00106,188,1019611,0,06,<=40000,1
13,00106,121,1021805,2,06,40000+,2
14,00106,125,1022501,3+,06,40000+,4+
15,00106,60,1022581,2,06,<=40000,2
16,00106,70,1023053,3+,06,40000+,3
17,00106,0,1023149,0,06,<=40000,1
18,00106,408,1023432,2,06,<=40000,1
19,00106,47,1026172,2,06,40000+,4+
20,00106,209,102947,2,06,40000+,4+
21,00106,135,1032964,1,06,<=40000,1
22,00106,62,1035885,2,06,<=40000,1
23,00106,53,1036137,2,06,40000+,4+
24,00106,98,1037116,2,06,40000+,4+
25,00106,82,1038049,0,06,<=40000,1
26,00106,112,1039604,3+,06,40000+,2
27,00106,192,1039952,2,06,40000+,2
28,00106,48,1042929,3+,06,40000+,3
29,00106,35,1043190,3+,06,40000+,2
...,...,...,...,...,...,...,...
1002,00106,59,962638,2,06,40000+,3
1003,00106,75,962934,2,06,<=40000,2
1004,00106,0,963107,0,06,<=40000,1
1005,00106,67,966969,3+,06,40000+,4+
1006,00106,69,967592,3+,06,40000+,4+
1007,00106,65,968573,2,06,40000+,2
1008,00106,69,969673,2,06,40000+,4+
1009,00106,0,970767,0,06,<=40000,1
1010,00106,110,971158,0,06,<=40000,3
1011,00106,113,971297,1,06,40000+,2
1012,00106,60,975167,1,06,<=40000,1
1013,00106,41,980956,1,06,40000+,4+
1014,00106,107,983488,2,06,40000+,2
1015,00106,57,984734,2,06,40000+,3
1016,00106,66,984933,2,06,<=40000,2
1017,00106,59,986303,3+,06,40000+,4+
1018,00106,109,98747,1,06,<=40000,2
1019,00106,97,988929,1,06,<=40000,1
1020,00106,48,989586,1,06,<=40000,1
1021,00106,139,989785,1,06,<=40000,3
1022,00106,99,990378,2,06,40000+,3
1023,00106,113,990638,2,06,40000+,3
1024,00106,48,990668,2,06,<=40000,1
1025,00106,0,992829,0,06,<=40000,1
1026,00106,96,993056,1,06,<=40000,1
1027,00106,110,997659,2,06,40000+,2
1028,00106,87,99855,2,06,40000+,4+
1029,00106,53,999031,3+,06,40000+,4+
1030,00106,205,999093,2,06,40000+,4+
1031,00106,106,999443,3+,06,40000+,2

In [25]:
persons_data.data

       puma  person_weight  serial_number sex state individual_income    age
0     00106            100        1000481   M    06               <=0    65+
1     00106            122        1002740   M    06       20000-40000  18-34
2     00106            122        1002740   M    06           0-20000  18-34
3     00106            107        1002740   F    06       20000-40000    65+
4     00106            113        1002740   M    06       40000-80000    65+
5     00106             76        1004323   M    06               <=0  18-34
6     00106             78        1004323   F    06       40000-80000  35-64
7     00106             68        1004323   M    06       20000-40000  35-64
8     00106             53        1006982   M    06               <=0    65+
9     00106             76        1006982   M    06               <=0   0-17
10    00106             78        1006982   M    06               <=0   0-17
11    00106             89        1006982   F    06               <=0  18-34
12    00106             73        1006982   M    06           0-20000  18-34
13    00106             63        1010099   M    06      80000-100000  35-64
14    00106             62        1010099   F    06       40000-80000  35-64
15    00106             43        1011294   M    06      80000-100000  35-64
16    00106             38        1011294   F    06       20000-40000  35-64
17    00106             72        1012613   F    06               <=0  18-34
18    00106             75        1012613   M    06           0-20000  18-34
19    00106             73        1012613   F    06               <=0   0-17
20    00106             67        1012613   M    06               <=0   0-17
21    00106            168        1015561   F    06       40000-80000  18-34
22    00106            129        1015561   M    06      80000-100000  35-64
23    00106            159        1015561   M    06               <=0   0-17
24    00106             80        1016255   M    06               <=0    65+
25    00106             75        1016255   F    06               <=0    65+
26    00106             88        1017051   F    06               <=0  35-64
27    00106             71        1017051   M    06       40000-80000  35-64
28    00106             58        1019082   M    06               <=0    65+
29    00106             66        1019082   F    06               <=0    65+
...     ...            ...            ...  ..   ...               ...    ...
2357  00106            176         989785   M    06               <=0  35-64
2358  00106            139         989785   F    06           0-20000    65+
2359  00106            131         989785   M    06               <=0    65+
2360  00106             98         990378   F    06               <=0  35-64
2361  00106            116         990378   F    06               <=0   0-17
2362  00106            116         990378   M    06       40000-80000  35-64
2363  00106            128         990638   F    06       40000-80000  18-34
2364  00106            103         990638   F    06       40000-80000    65+
2365  00106            113         990638   M    06               <=0    65+
2366  00106             49         990668   F    06               <=0    65+
2367  00106             13         992829   M    06               <=0    65+
2368  00106             96         993056   F    06       20000-40000  35-64
2369  00106            139         997659   M    06       20000-40000  35-64
2370  00106            110         997659   F    06               <=0    65+
2371  00106             90          99855   M    06           100000+  35-64
2372  00106             87          99855   F    06               <=0  35-64
2373  00106             84          99855   M    06               <=0   0-17
2374  00106             84          99855   M    06               <=0   0-17
2375  00106             54         999031   F    06       20000-40000  18-34
2376  00106             46         999031   M    06               <=0   0-17
2377  00106             53         999031   F    06           0-20000  35-64
2378  00106             45         999031   M    06               <=0  35-64
2379  00106             44         999031   M    06               <=0   0-17
2380  00106            206         999093   M    06               <=0   0-17
2381  00106            209         999093   M    06       20000-40000  35-64
2382  00106            270         999093   F    06               <=0   0-17
2383  00106            318         999093   F    06               <=0  35-64
2384  00106            205         999093   F    06           0-20000  35-64
2385  00106            106         999443   F    06               <=0  35-64
2386  00106            104         999443   M    06               <=0   0-17

[2387 rows x 7 columns]

# Household Allocation
Now we will allocate persons and households to tracts to align with census controls.  First, load our controls based on ACS marginals.

In [26]:
controls = Marginals.from_csv('sample_data/marginals_00106.csv')

In [27]:
controls.data

,Unnamed: 0,STATEFP,COUNTYFP,PUMA5CE,TRACTCE,num_people_count,num_people_1,num_people_3,num_people_2,num_people_4+,num_vehicles_1,num_vehicles_0,num_vehicles_2,num_vehicles_3+,age_0-17,age_18-34,age_65+,age_35-64
0,0,06,001,00106,430101,2217,305,356,648,908,270,45,1057,2076,1756,1161,671,3383
1,1,06,001,00106,430102,863,158,174,407,124,127,8,450,398,354,210,553,1022
2,2,06,001,00106,430200,2417,397,580,936,504,211,16,1380,1466,1310,911,1114,3324
3,3,06,001,00106,430300,1239,222,194,466,357,118,59,548,906,845,492,672,1597
4,4,06,001,00106,430400,752,136,150,294,172,181,6,308,661,311,331,416,997
5,5,06,001,00106,430500,2027,473,389,614,551,443,81,1283,873,1458,1264,582,2889
6,6,06,001,00106,430600,2145,496,477,699,473,425,0,1010,1421,988,1120,876,2755
7,7,06,001,00106,430700,1291,165,265,470,391,128,0,760,934,911,830,523,1649
8,8,06,001,00106,430800,2116,367,328,793,628,522,128,1335,909,1406,1377,896,2412
9,9,06,001,00106,430900,1822,499,356,589,378,724,40,893,467,1449,1186,587,1799
10,10,06,001,00106,431000,1138,269,286,355,228,435,32,696,183,663,684,330,1263
11,11,06,001,00106,431100,1342,434,169,510,229,312,71,1019,368,692,1201,324,1047
12,12,06,001,00106,431200,2504,1049,455,687,313,703,87,984,943,1031,1153,966,2370
13,13,06,001,00106,433700,998,322,112,121,443,282,6,722,613,986,892,210,1264
14,14,06,001,00106,433800,2498,662,634,366,836,763,177,1072,1318,2018,2045,877,3197
15,15,06,001,00106,433900,2365,547,314,465,1039,856,211,1104,676,2707,2122,289,2443
16,16,06,001,00106,434000,1758,525,339,239,655,396,73,887,740,1779,1297,404,2039
17,17,06,001,00106,435200,1404,246,368,420,370,210,50,858,1064,857,1022,661,1913
18,18,06,001,00106,435300,1586,498,342,481,265,562,60,875,567,826,1129,511,1767
19,19,06,001,00106,435500,1362,487,189,375,311,338,75,668,467,762,914,444,1424
20,20,06,001,00106,435601,1591,273,280,392,646,351,51,1235,759,1884,1521,305,1901
21,21,06,001,00106,435602,1546,431,250,336,529,538,118,762,742,1306,1195,505,2454
22,22,06,001,00106,435700,1399,219,243,374,563,208,52,784,959,1017,1091,821,1820
23,23,06,001,00106,435800,1587,262,330,414,581,335,0,892,1331,1144,1257,611,2383
24,24,06,001,00106,435900,1588,185,267,531,605,154,0,709,1511,1165,1220,832,2173
25,25,06,001,00106,436000,1381,256,283,390,452,246,0,775,977,933,1061,772,1532
26,26,06,001,00106,436100,1810,400,315,328,767,528,82,1041,1187,1427,1356,818,2630
27,27,06,001,00106,436200,1222,347,172,221,482,327,44,732,403,1211,1027,435,1358
28,28,06,001,00106,436402,977,112,300,362,203,87,0,413,855,510,565,634,1163

In [28]:
# # Serialization
# with open('controls.pkl', 'wb') as file:
#     pickle.dump(controls, file)
# with open('households_data.pkl', 'wb') as file:
#     pickle.dump(households_data, file)
# with open('persons_data.pkl', 'wb') as file:
#     pickle.dump(persons_data, file)

Now use `HouseholdAllocator` to generate household allocations.

In [30]:
allocator = HouseholdAllocator.from_cleaned_data(controls, households_data, persons_data)

C:\Users\Administrator.DESKTOP-D3SVMI5\Desktop\doppelganger\doppelganger\allocation.py:163: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  w = households[inputs.HOUSEHOLD_WEIGHT.name].as_matrix().T
C:\Users\Administrator.DESKTOP-D3SVMI5\Desktop\doppelganger\doppelganger\allocation.py:174: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  hh_table = households[hh_columns].as_matrix()
C:\Users\Administrator.DESKTOP-D3SVMI5\Desktop\doppelganger\doppelganger\allocation.py:176: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  A = tract_controls.data[hh_columns].as_matrix()
G:\Anaconda\envs\dop2\lib\site-packages\cvxpy\expressions\expression.py:593: UserWarning:
This use of ``*`` has resulted in matrix multiplication.
Using ``*`` for matrix multiplication has been deprecated since CVXPY 1.1.
    Use ``*`` for matrix-scalar and vector-scalar multiplication.
    Use ``@`` for matrix-matrix and matrix-vector multiplication.
    Use ``multiply`` for elementwise multiplication.
This code path has been hit 4 times so far.

  warnings.warn(msg, UserWarning)

# Bayesian Network Generation
Let's create models to generate characteristics for the people and households we just allocated. We'll start by loading up our pums data.  Our model learns different probability distributions for each category of person.  The category can be whatever you want and is specified by passing a segmentation function when you load training data.

In [31]:
segmentation_function = lambda x: x[inputs.AGE.name]
person_training_data = SegmentedData.from_data(
    persons_data,
    list(configuration.person_fields),
    inputs.PERSON_WEIGHT.name,
    segmenter=segmentation_function
)
person_model = BayesianNetworkModel.train(
    person_training_data,
    configuration.person_structure,
    configuration.person_fields
)

household_segmenter = lambda x: x[inputs.NUM_PEOPLE.name]

household_training_data = SegmentedData.from_data(
    households_data,
    list(configuration.household_fields),
    inputs.HOUSEHOLD_WEIGHT.name,
    household_segmenter,
)
household_model = BayesianNetworkModel.train(
    household_training_data,
    configuration.household_structure,
    configuration.household_fields
)

C:\Users\Administrator.DESKTOP-D3SVMI5\Desktop\doppelganger\doppelganger\bayesnets.py:196: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray
  bayesian_network = BayesianNetwork.from_structure(data, structure)

# Population Synthesis
Now for the main event! We can synthesize a population by taking the household allocations
we produced above and filling out missing categories with our Bayesian Networks.

In [32]:
population = Population.generate(allocator, person_model, household_model)

We can access the people and households as Pandas DataFrames and work with them directly. Households and people are unique by household_id. We can also join them to create a fat table of individual and household attributes.

In [33]:
people = population.generated_people
households = population.generated_households

merge_cols = [inputs.HOUSEHOLD_ID.name]
combined = pd.merge(people, households, on=merge_cols)

combined

,household_id,tract_x,serial_number_x,repeat_index_x,age,sex,individual_income,tract_y,serial_number_y,repeat_index_y,num_people,household_income,num_vehicles
0,430101-1000481-0,430101,1000481,0,65+,M,<=0,430101,1000481,0,1,<=40000,0
1,430101-1000481-1,430101,1000481,1,65+,M,20000-40000,430101,1000481,1,1,<=40000,1
2,430101-1000481-2,430101,1000481,2,65+,M,<=0,430101,1000481,2,1,<=40000,2
3,430101-1000481-3,430101,1000481,3,65+,M,<=0,430101,1000481,3,1,<=40000,1
4,430102-1000481-0,430102,1000481,0,65+,M,<=0,430102,1000481,0,1,<=40000,1
5,430200-1000481-0,430200,1000481,0,65+,M,0-20000,430200,1000481,0,1,<=40000,1
6,430200-1000481-1,430200,1000481,1,65+,M,<=0,430200,1000481,1,1,<=40000,1
7,430200-1000481-2,430200,1000481,2,65+,M,<=0,430200,1000481,2,1,<=40000,1
8,430200-1000481-3,430200,1000481,3,65+,M,<=0,430200,1000481,3,1,<=40000,1
9,430300-1000481-0,430300,1000481,0,65+,M,<=0,430300,1000481,0,1,<=40000,1
10,430300-1000481-1,430300,1000481,1,65+,M,<=0,430300,1000481,1,1,<=40000,1
11,430400-1000481-0,430400,1000481,0,65+,M,<=0,430400,1000481,0,1,<=40000,1
12,430500-1000481-0,430500,1000481,0,65+,M,<=0,430500,1000481,0,1,<=40000,0
13,430500-1000481-1,430500,1000481,1,65+,M,20000-40000,430500,1000481,1,1,<=40000,0
14,430500-1000481-2,430500,1000481,2,65+,M,<=0,430500,1000481,2,1,<=40000,1
15,430500-1000481-3,430500,1000481,3,65+,M,<=0,430500,1000481,3,1,<=40000,1
16,430600-1000481-0,430600,1000481,0,65+,M,<=0,430600,1000481,0,1,<=40000,1
17,430600-1000481-1,430600,1000481,1,65+,M,<=0,430600,1000481,1,1,<=40000,0
18,430600-1000481-2,430600,1000481,2,65+,M,<=0,430600,1000481,2,1,<=40000,2
19,430600-1000481-3,430600,1000481,3,65+,M,<=0,430600,1000481,3,1,<=40000,1
20,430700-1000481-0,430700,1000481,0,65+,M,<=0,430700,1000481,0,1,<=40000,1
21,430700-1000481-1,430700,1000481,1,65+,M,<=0,430700,1000481,1,1,<=40000,1
22,430800-1000481-0,430800,1000481,0,65+,M,<=0,430800,1000481,0,1,<=40000,1
23,430800-1000481-1,430800,1000481,1,65+,M,<=0,430800,1000481,1,1,<=40000,1
24,430800-1000481-2,430800,1000481,2,65+,M,<=0,430800,1000481,2,1,<=40000,1
25,430800-1000481-3,430800,1000481,3,65+,M,<=0,430800,1000481,3,1,<=40000,2
26,430900-1000481-0,430900,1000481,0,65+,M,<=0,430900,1000481,0,1,<=40000,1
27,430900-1000481-1,430900,1000481,1,65+,M,<=0,430900,1000481,1,1,<=40000,1
28,430900-1000481-2,430900,1000481,2,65+,M,<=0,430900,1000481,2,1,<=40000,1
29,431000-1000481-0,431000,1000481,0,65+,M,<=0,431000,1000481,0,1,<=40000,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
198349,435800-999443-3,435800,999443,3,35-64,F,40000-80000,435800,999443,3,2,40000+,3+
198350,435800-999443-3,435800,999443,3,0-17,M,<=0,435800,999443,3,2,40000+,3+
198351,435900-999443-0,435900,999443,0,35-64,F,100000+,435900,999443,0,2,40000+,1
198352,435900-999443-0,435900,999443,0,0-17,M,<=0,435900,999443,0,2,40000+,1
198353,435900-999443-1,435900,999443,1,35-64,F,0-20000,435900,999443,1,2,40000+,2
198354,435900-999443-1,435900,999443,1,0-17,M,<=0,435900,999443,1,2,40000+,2
198355,435900-999443-2,435900,999443,2,35-64,F,40000-80000,435900,999443,2,2,40000+,2
198356,435900-999443-2,435900,999443,2,0-17,M,<=0,435900,999443,2,2,40000+,2
198357,435900-999443-3,435900,999443,3,35-64,F,40000-80000,435900,999443,3,2,<=40000,2
198358,435900-999443-3,435900,999443,3,0-17,M,<=0,435900,999443,3,2,<=40000,2
198359,436000-999443-0,436000,999443,0,35-64,F,0-20000,436000,999443,0,2,<=40000,2
198360,436000-999443-0,436000,999443,0,0-17,M,<=0,436000,999443,0,2,<=40000,2
198361,436000-999443-1,436000,999443,1,35-64,F,40000-80000,436000,999443,1,2,40000+,2
198362,436000-999443-1,436000,999443,1,0-17,M,<=0,436000,999443,1,2,40000+,2
198363,436000-999443-2,436000,999443,2,35-64,F,20000-40000,436000,999443,2,2,40000+,2
198364,436000-999443-2,436000,999443,2,0-17,M,<=0,436000,999443,2,2,40000+,2
198365,436100-999443-0,436100,999443,0,35-64,F,<=0,436100,999443,0,2,40000+,2
198366,436100-999443-0,436100,999443,0,0-17,M,<=0,436100,999443,0,2,40000+,2
198367,436100-999443-1,436100,999443,1,35-64,F,0-20000,436100,999443,1,2,40000+,2
198368,436100-999443-1,436100,999443,1,0-17,M,<=0,436100,999443,1,2,40000+,2
198369,436100-999443-2,436100,999443,2,35-64,F,40000-80000,436100,999443,2,2,<=40000,2
198370,436100-999443-2,436100,999443,2,0-17,M,<=0,436100,999443,2,2,<=40000,2
198371,436200-999443-0,436200,999443,0,35-64,F,100000+,436200,999443,0,2,40000+,1
198372,436200-999443-0,436200,999443,0,0-17,M,<=0,436200,999443,0,2,40000+,1
198373,436200-999443-1,436200,999443,1,35-64,F,0-20000,436200,999443,1,2,40000+,2
198374,436200-999443-1,436200,999443,1,0-17,M,<=0,436200,999443,1,2,40000+,2
198375,436402-999443-0,436402,999443,0,35-64,F,100000+,436402,999443,0,2,40000+,3+
198376,436402-999443-0,436402,999443,0,0-17,M,<=0,436402,999443,0,2,40000+,3+
198377,436402-999443-1,436402,999443,1,35-64,F,20000-40000,436402,999443,1,2,40000+,2
198378,436402-999443-1,436402,999443,1,0-17,M,<=0,436402,999443,1,2,40000+,2

We can easily save this population to a csv.

In [34]:
population.write('generated_people.csv', 'generated_households.csv')

We can additionally save any of our intermediary stages and load them up again
whenever we want.  For example, we could save our Bayesian Network and reuse them
again later with the same or different household allocations.

In [13]:
person_model.write('person_model.json')
person_model_reloaded = BayesianNetworkModel.from_file('person_model.json', segmenter=segmentation_function)

C:\Users\Administrator.DESKTOP-D3SVMI5\Desktop\doppelganger\doppelganger\bayesnets.py:167: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray
  type_to_network[type_] = BayesianNetwork.from_json(json.dumps(network_json))

# Customize by PUMA
To try this out on the PUMA of your choice and learn to make other customizations, take a look at [doppelganger_example_full](./doppelganger_example_full.ipynb).